{% extends "base.html" %}

{% block css %}
<link rel="stylesheet" href="{{url_for('static', filename='css/styles.css')}}">
{% endblock %}

{% block main %}
<div class="hbg">
  <div class="container">
 
    <h2>THE REAL ESTATE PLACE</h2>
    <br>
    <p> Welcome to the Real Estate Place. This is a space where renters and homebuyers search for houses/apartments that are perfect for their specific needs. </p>
    <br>
    <p>Happy House-Hunting!</p>
  </div>
</div>
{% endblock %}

{% block js %}
<script src="{{ url_for('static', filename='js/app.min.js') }}" charset="utf-8"></script>
{% endblock %}
