{% extends 'base.html' %}

{% block main %}

{% include 'flash_messages.html' %}


<h1 class="fHead">Add New Property</h1>

<form class="form" method="POST" action="{{ url_for('property') }}" enctype="multipart/form-data">
    
    {{ form.csrf_token }}

    <div class="form-div">
        {{ form.title.label(class="form-heading") }}
        <br>
        {{ form.title(class="formfield long") }}
    </div>

    <div class="form-div area">
        {{ form.description.label(class="form-heading") }}
        <br>
        {{ form.description(class="formfield long") }}
    </div>

    <div class="form-div double">
        <div>
            {{ form.numberOfRooms.label(class="form-heading") }}
            <br>
            {{ form.numberOfRooms(class="formfield short") }}
        </div>

        <div>
            {{ form.numberOfBathrooms.label(class="form-heading") }}
            <br>
            {{ form.numberOfBathrooms(class="formfield short") }}
        </div>
    </div>

    <div class="form-div double">
        <div>
            {{ form.price.label(class="form-heading") }}
            <br>
            {{ form.price(class="formfield short") }}
        </div>

        <div>
            {{ form.propertyType.label(class="form-heading") }}
            <br>
            {{ form.propertyType(class="formfield short") }}
        </div>
    </div>

    <div class="form-div">
        {{ form.location.label(class="fHead") }}
        <br>
        {{ form.location(class="halfLength") }}
    </div>

    <div class="form-div">
        {{ form.photo.label(class="fHead") }}
        <br>
        {{ form.photo(class="halfLength") }}
    </div>

    <button type="submit" class="btn add">Add Property</button>
</form>

{% endblock %}